.encabezado{
    background-color: rgb(83, 182, 90);
    text-align: center;
    font-size: large;
    width: 100%;
    height: 12vh;
}
.flexcont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 88vh;
    background-color: rgb(83, 182, 121);
}
.flexitem{
    background-color:purple;
    width: 12%;
    height: 88vh;
}

